version: 4
content:
  - node: .local
    svcs:
      - id: eva.controller.{{ ctl.id  }}
        params:
          command: svc/eva-controller-modbus
          bus:
            path: var/bus.ipc
          config:
            pull:
      - id: eva.controller.mqtt
        params:
          # EVA ICS pub/sub controller
          command: svc/eva-controller-pubsub
          workers: 1
          bus:
            path: var/bus.ipc
          config:
            output:
